{% extends 'base.html' %}

{% block head %}
<title>People</title>
{% endblock %}

{% block body %}
<div class="container">
	
		<div class="row">
		<div class="col-md-4">
			<h1>People</h1>
		</div>
		<div class="col-md-8">
			<h3>{{ list_title }}</h3>
		</div>
	</div>
	<div class="row">


		
		<div class="col-md-4">
			
			<ul class="list-group" style="border: none;">
				<li class="list-group-item"><a href="{% url 'people:view_people_all' %}">All Users</li></a>
				<li class="list-group-item"><a href="{% url 'people:view_people_friends' %}">Friends</li></a>
				<li class="list-group-item"><a href="{% url 'people:view_people_requests' %}">Requests</li></a>
				<li class="list-group-item"><a href="{% url 'people:view_people_blocked' %}">Blocked</li></a>
			</ul>
		</div>

		<div class="col-md-8">
			<ul class="list-group" id="people">
				{% for user in users %}
					<div class="list-group-item">
				        <div class="d-flex justify-content-between align-items-center">
				            <div class="d-flex justify-content-between align-items-center">
				                <div class="mr-2">
				    				{% if user.userprofile.avatar %}
					                <img class="rounded" width="65" height="65" src="{{ user.userprofile.avatar_profile.url }}" alt="">
					                {% else %}
					                <img class="rounded" width="65" src="/media/profile_image/default.png" alt="">
					                {% endif %}
				                </div>

				                <div class="ml-2">
				                    <div class="h5 m-0"><a href="{% url 'profiles:view_profile_with_pk' pk=user.pk %}">{{ user.get_full_name }}</a></div>
				                    <!-- <div class="h7 text-muted"></div> -->
				                    <div class="text-muted h7 mb-2">@{{ user }}</div>
				                </div>

				            </div>

				           		{% if request.get_full_path == "/people/blocked/" %}
				           		<div class="user-interaction-btns">
				                	<a href="{% url 'people:change_friends' operation='add' pk=user.pk %}">
										<button type="button" class="btn btn-warning">Unblock</button>
									</a>
				             		<a href="#">
										<button type="button" class="btn btn-primary">Message</button>
									</a>
				                </div>
				                {% elif request.get_full_path == "/people/requests/" %}
				             	<div class="user-interaction-btns">
				                	<a href="{% url 'people:request_response' operation='accept' pk=user.pk %}">
										<button type="button" class="btn btn-success">Accept</button>
									</a>
				             		<a href="{% url 'people:request_response' operation='reject' pk=user.pk %}">
										<button type="button" class="btn btn-danger">Decline</button>
									</a>
				                </div>
				                {% elif request.get_full_path == "/people/friends/" %}
				             	<div class="user-interaction-btns">
				             		<a href="{% url 'people:change_friends' operation='remove' pk=user.pk %}">
										<button type="button" class="btn btn-danger">Remove Friend</button>
									</a>
				                	<a href="#">
										<button type="button" class="btn btn-primary">Message</button>
									</a>
				                </div>
				                {% else %}
				                	
				             	<div class="user-interaction-btns">
				             		{% if user == request.user %}

				             		{% elif user.pk in received_requests %}
				                	<a href="{% url 'people:request_response' operation='accept' pk=user.pk %}">
										<button type="button" class="btn btn-success">Accept</button>
									</a>
				             		<a href="{% url 'people:request_response' operation='reject' pk=user.pk %}">
										<button type="button" class="btn btn-danger">Decline</button>
									</a>
									
				             		{% elif user.pk in sent_requests %}
				             		<a href="{% url 'people:request_response' operation='cancel' pk=user.pk %}">
										<button type="button" id='pending-btn' class="btn btn-primary">Request Pending</button>
									</a>

				             		{% elif not user in friends %}
				                	<a href="{% url 'people:change_friends' operation='add' pk=user.pk %}">
										<button type="button" class="btn btn-success">Add friend</button>
									</a>
									<a href="#">
										<button type="button" class="btn btn-primary">Message</button>
									</a>
									{% elif user in friends %}
									<a href="{% url 'people:change_friends' operation='remove' pk=user.pk %}">
										<button type="button" class="btn btn-danger">Remove Friend</button>
									</a>

									<a href="#">
										<button type="button" class="btn btn-primary">Message</button>
									</a>
									{% endif %}

				                </div>
				                {% endif %}
				        </div>
					</div>
				{% empty %}
					{% if request.get_full_path == "/account/people/blocked/" %}
						<p>No blocked users to show</p>
					{% elif request.get_full_path == "/account/people/requests/"%}
						<p>No friend requests to show</p>
					{% else %}
						<p>No friends to show</p>
					{% endif %}
				{% endfor %}

			</ul>
		</div>

	</div>
</div>
{% endblock %}